node_modules/
*/node_modules/

.env
*.env
!.env.example
*.local

frontend/dist/
frontend/.vite/
frontend/tsconfig.tsbuildinfo
smart-contract/artifacts/
smart-contract/cache/

.deploy-logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
